{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>Pots</title>
</head>
<body>
    
    <div class="container">
        {% bootstrap_messages %}
        
        {% for message in messages %}
            <div class="messages">
                <strong>Erro:</strong> {{ message }}
            </div>
        {% endfor %}
        <form class='form' action="/login/submit" method="post" >
            {% csrf_token %}
            <label for="usuario"> Usuario:</label><br>
            <input type="text" id="usuario" name="usuario" value=""><br>
            <label for="senha">Senha:</label><br>
            <input type="password" id="senha" name="senha" value=""><br>
            <input type="submit" class='bnt bnt_btn bnt_btn_primary' value="Submit">
        </form>
    </div>
{% bootstrap_javascript %}
</body>
</html>